<router-outlet name="popup"></router-outlet>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-9">
                <h3>Filters: </h3>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-control-label">First name:</label>
                        <input class="form-control" type="text" name="firstName" id="firstName" [(ngModel)]="firstName"/>
                    </div>
                    <div class="col-md-3">
                        <label class="form-control-label">Last name:</label>
                        <input class="form-control" type="text" name="lastName" id="lastName" [(ngModel)]="lastName"/>
                    </div>
                    <div class="col-md-3">
                        <label class="form-control-label">Username:</label>
                        <input class="form-control" type="text" name="username" id="username" [(ngModel)]="username"/>
                    </div>
                    <div class="col-md-3">
                        <label class="form-control-label">Email:</label>
                        <input class="form-control" type="text" name="email" id="email" [(ngModel)]="email"/>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-control-label ml-5 mr-5 pl-5 pr-5 mt-5"></label>
                <button (click)="onFilterClick()" class="btn btn-primary w-50">
                    Filter
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row mt-5">
            <div class="col-md-12">
                <h3>Users list</h3>
                <button routerLink="/modify-user" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }" class="btn btn-primary pull-right">
                    Add User
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <jhi-mistral-user-list></jhi-mistral-user-list>
            </div>
        </div>
    </div>
</div>

